# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
MDK-ARM/RTE/_PWM_Set_Dental/RTE_Components.h
MDK-ARM/DebugConfig/PWM_Set_Dental_STM32F051K8Tx.dbgconf
MDK-ARM/PWM_Set_Dental.uvguix.duden
MDK-ARM/PWM_Set_Dental.uvoptx
MDK-ARM/PWM_Set_Dental.uvprojx
MDK-ARM/PWM_Set_Dental/cmsis_os.crf
MDK-ARM/PWM_Set_Dental/comp.crf
MDK-ARM/PWM_Set_Dental/croutine.crf
MDK-ARM/PWM_Set_Dental/event_groups.crf
MDK-ARM/PWM_Set_Dental/freertos.crf
MDK-ARM/PWM_Set_Dental/gpio.crf
MDK-ARM/PWM_Set_Dental/heap_4.crf
MDK-ARM/PWM_Set_Dental/list.crf
MDK-ARM/PWM_Set_Dental/main.crf
MDK-ARM/PWM_Set_Dental/port.crf
MDK-ARM/PWM_Set_Dental/PWM_Set_Dental.axf
MDK-ARM/PWM_Set_Dental/PWM_Set_Dental.build_log.htm
MDK-ARM/PWM_Set_Dental/PWM_Set_Dental.htm
MDK-ARM/PWM_Set_Dental/PWM_Set_Dental.lnp
MDK-ARM/PWM_Set_Dental/PWM_Set_Dental.sct
MDK-ARM/PWM_Set_Dental/PWM_Set_Dental_PWM_Set_Dental.dep
MDK-ARM/PWM_Set_Dental/queue.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_comp.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_cortex.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_dma.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_flash.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_flash_ex.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_gpio.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_i2c.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_i2c_ex.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_msp.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_pwr.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_pwr_ex.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_rcc.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_rcc_ex.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_tim.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_tim_ex.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_hal_timebase_tim.crf
MDK-ARM/PWM_Set_Dental/stm32f0xx_it.crf
MDK-ARM/PWM_Set_Dental/system_stm32f0xx.crf
MDK-ARM/PWM_Set_Dental/tasks.crf
MDK-ARM/PWM_Set_Dental/tim.crf
MDK-ARM/PWM_Set_Dental/timers.crf
MDK-ARM/startup_stm32f051x8.lst
MDK-ARM/PWM_Set_Dental.uvprojx
MDK-ARM/PWM_Set_Dental.uvoptx
